@using Moetech.Zhuangzhou.Common;
@model PaginatedList<ReturnData>
@{
    ViewData["Title"] = "审批虚拟机";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row font-weight-bold">
    <div class="col">操作系统</div>
    <div class="col">硬盘大小/G</div>
    <div class="col">内存大小/G</div>
    <div class="col">申请数量</div>
    <div class="col">申请人员</div>
    <div class="col">申请时间</div>
    <div class="col">归还时间</div>
    <div class="col">备注</div>
    <div class="col">审批</div>
</div>
<form asp-action="SubmitApprove" method="post">
    @foreach (var item in Model)
    {
        <hr />
        <div class="row">
            @if (item.MachineSystem == 0)
            {
                <div class="col">Windows</div>
            }
            else
            {
                <div class="col">Linux</div>
            }
            <div class="col"><span name="MachineDiskCount">@item.MachineDiskCount</span> </div>
            <div class="col">@item.MachineMemory</div>
            <div class="col">@item.NumberCount</div>
            <div class="col">@item.AppUserName</div>
            <div class="col">@item.ApplyTime</div>
            <div class="col">@item.ResultTime</div>
            <div class="col" style="max-width:140px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap" data-toggle="tooltip" title=@item.Remark>@item.Remark</div>
            <div class="col">
                <a href="SubmitApprove?ApplyUserID=@item.ApplyUserID&ApplyTime=@item.ApplyTime&ResultTime=@item.ResultTime
                   &Remark=@item.Remark&state=2" class="btn btn-primary btn-sm">同意</a>
                <a href="SubmitApprove?ApplyUserID=@item.ApplyUserID&ApplyTime=@item.ApplyTime&ResultTime=@item.ResultTime
                   &Remark=@item.Remark&&state=1" class="btn btn-danger btn-sm">拒绝</a>
            </div>
        </div>
    }
</form>
@if (Model.TotalPages != 0)
{
    <div class="row justify-content-center mt-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link btn @prevDisabled" asp-action="Approve" asp-route-pageIndex="@(Model.PageIndex - 1)">上一页</a></li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active":"")"><a class="page-link" asp-action="Approve" asp-route-pageIndex="@i">@i</a></li>
            }

            <li class="page-item"><a class="page-link btn @nextDisabled" asp-action="Approve" asp-route-pageIndex="@(Model.PageIndex + 1)">下一页</a></li>
        </ul>
    </div>
}
