@model Moetech.Zhuangzhou.Models.MachineInfo

@{
    ViewData["Title"] = "删除虚拟机";
}

<h1>@ViewData["Title"]</h1>
<h3>你确定要删除这个吗?</h3>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineIP)</dt>
        <dd class="col-sm-10">@Model.MachineIP</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineSystem)</dt>

        @if (Model.MachineSystem == 0)
        {
            <dd class="col-sm-10">Windows</dd>
        }
        else
        {
            <dd class="col-sm-10">Linux</dd>
        }

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineDiskCount)</dt>
        <dd class="col-sm-10">@Model.MachineDiskCount</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineMemory)</dt>
        <dd class="col-sm-10">@Model.MachineMemory</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineState)</dt>

        @if (Model.MachineState == 0)
        {
            <dd class="col-sm-10">空闲</dd>
        }
        else if (Model.MachineState == 1)
        {
            <dd class="col-sm-10">申请中</dd>
        }
        else
        {
            <dd class="col-sm-10">使用中</dd>
        }

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachineUser)</dt>
        <dd class="col-sm-10">@Model.MachineUser</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MachinePassword)</dt>
        <dd class="col-sm-10">@Model.MachinePassword</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MachineId" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
