@model IEnumerable<Moetech.Zhuangzhou.Models.MachineInfo>

@{
    ViewData["Title"] = "申请虚拟机";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row font-weight-bold">
    <div class="col col-sm-3">@Html.DisplayNameFor(model => model.MachineSystem)</div>
    <div class="col col-sm-2">@Html.DisplayNameFor(model => model.MachineDiskCount)</div>
    <div class="col col-sm-2">@Html.DisplayNameFor(model => model.MachineMemory)</div>
    <div class="col col-sm-2">空闲数量</div>
    <div class="col col-sm-3">操作</div>
</div>

@foreach (var item in Model)
{
    <hr />
    <div class="row">
        @if (item.MachineSystem == 0)
        {
            <div class="col col-sm-3">Windows</div>
        }
        else
        {
            <div class="col col-sm-3">Linux</div>
        }
        <div class="col col-sm-2">@item.MachineDiskCount</div>
        <div class="col col-sm-2">@item.MachineMemory</div>
        <div class="col col-sm-2">@item.MachineState</div>
        <div class="col col-sm-3">
            <a class="btn btn-primary btn-sm" href="Vmware/Apply?machineSystem=@item.MachineSystem&machineDiskCount=@item.MachineDiskCount&machineMemory=@item.MachineMemory&freeNumber=@item.MachineState">申请</a>
        </div>
    </div>
}